
body{
    min-height:100vh;
    width: 100vw;
}
main{
    height:89vh;
    width: 100%;
}
p{
    margin: 0;
    padding: 0 ;
}
.contentedor{
    height: 100%;
    width: 100%;
    display: 
}
.profile-pic{
    width: 75px;
    height: 75px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
.logo{
    width: 40px;
}
.error-img{
    width:150px;
    height:150px;
}
.sm-profile-pic{
    width:25px;
    height:25px;
    aspect-ratio:1/1;
    object-fit: cover;
    border-radius: 50%;
}
.botones-producto{
    row-gap = 25px;
}
.perfil{
    max-width:600px;

}
.non-decorated-link{
    text-decoration:none;
    color: black;
}


.compra:hover{
    animation-name: compra-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.compra:active{
    animation-name : compra-active;
    animation-duration:0.2s;
    animation-fill-mode:forwards;
}

@keyframes compra-hover{
    100%{
        background-color:#e8e8e8;
    }
}

@keyframes compra-active{
    100%{
        background-color:#c4c4c4  ;
    }
}


.contenedor{
    width: 100%;
    height:100%;
    display: flex;
    align-items:end;
    background-position: center;
    background-color: white;
    background-size: cover;
    justify-content: center;
}

.contenedor:hover{
    opacity: .8;
}
.contenedor:active{
    opacity: .8;
}

.register-contenedor{
    background-image: url(imgs/register.jpg);
    background-position-x: 25%;
}

.login-contenedor{
    background-image: url(imgs/login.png);
    color:blue;
}

.main-link{
    text-decoration: none;
    color:black;
    height: 50%;
}

.grupo-familiar-img{
    
    max-height:400px;
    object-fit:cover;
    object-position:center;
    width: 100%;
}

.seccion-home{
    width:100%;
    height: 100%
}

.map-container{
    max-height : 400px;
    max-width:300px;
}